.TodoListItem {
  display: flex;
  align-items: center;
  //line-height: 1.5rem;
  padding: 1rem;
  //justify-content: space-between;
  //border-top: solid 0.1px rgba(214,214,214,0.97);
  &:nth-child(even) {
    background: rgba(246, 246, 246, 0.97);
  }

  .checkbox {
    cursor: pointer;
    padding: 2px;
    display: flex;
    align-items: center;

    svg {
      //아이콘
      font-size: 1.5rem;
    }

    .text {
      margin-left: 0.5rem;
      flex: 1;
    }

    //체크되었을 때 보여줄 스타일
    &.cheked {
      svg {
        color: #22b8cf;
      }

      text {
        color: #adb5bd;
        text-decoration: line-through;
      }
    }
  }


  .remove {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: red;
    cursor: pointer;

    &:hover {
      color: #ff8787;
    }
  }

  //엘리먼트 사이사이에 테두리 넣기
  & + &{
    border-top: 1px solid #dee2e6;
  }

}